**/renders/**/*.png
**/renders/**/*.tga
**/renders/**/*.tif
**/renders/**/*.tiff
**/renders/**/*.jpg
**/renders/**/*.jpeg
**/renders/*.png
**/renders/*.tga
**/renders/*.tif
**/renders/*.tiff
**/renders/*.jpg
**/renders/*.jpeg
input/
*.aep
*.aep*
*.mp4
*.zip
*.tar